<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebScrape2025.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WebScrape2025.Properties.Settings>
            <setting name="txtCboxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="imageCboxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="linksCboxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quoteCboxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statsCboxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="titleCboxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dateCboxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sourceCboxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="paragraphCboxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="listCboxState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keywordTxt" serializeAs="String">
                <value />
            </setting>
        </WebScrape2025.Properties.Settings>
    </userSettings>
</configuration>